@tailwind base;
@tailwind components;
@tailwind utilities;

#root.light {
    --nextui-background: 0 0% 100%;


}

#root.dark {
    --nextui-background: 0 0% 0%;
    --nextui-foreground-100: 240 3.7% 15.88%;
    /*--nextui-foreground: 201.81999999999994 24.44% 8.82%;*/
}

#root {
    /*background-color: hsl(var(--nextui-background));*/
}

.content-wrapper {
    background-color: hsl(var(--nextui-background));

}

.drawer-content {
    background-color: hsl(var(--nextui-content2));
    /*color: hsl(var(--nextui-foreground));*/
}

.react-resizable-handle  {
    background-image: none !important;
}

.react-resizable-handle::after {
    content: none !important;
}

.react-grid-placeholder {
    background-color:hsl(212 100% 46.67 / 0.8) !important;
    border-radius: 10px;
}

*:focus-visible {
    outline: none;
}
