@tailwind base;
@tailwind components;
@tailwind utilities;

.react-resizable-handle  {
    background-image: none !important;
}

.react-resizable-handle::after {
    content: none !important;
}

.react-grid-placeholder {
    background-color:hsl(212.01999999999998 100% 46.67 / 0.8) !important;
    border-radius: 10px;
}